<div class="blog-card">
  <h5 class="blog-title">
    {{ blog.title }}
  </h5>
 


  <button onclick="document.getElementById('id01').style.display='block'">Delete</button>

  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
      <div class="container">
        <h1>Delete Blog</h1>
        <p>Are you sure you want to delete your blog?</p>
  
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="button" class="deletebtn">Yes</button>
        </div>
      </div>
    </form>
  </div>

  <span> {{ blog.date |date:'medium' }} </span>

  <div class="blog-cover-image">
    <img src="{{ blog.imgUrl }}" alt="blog-img" />
  </div>
  <p class="blog-desc">
    {{ blog.description }}
  </p>

  
  <div class="rating">
    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>

  
</div>


 
